EX.Client/Connected Services/ServiceReference1/iterator.org.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://iterator.org" elementFormDefault="qualified" targetNamespace="http://iterator.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVisitorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisitorDTO" nillable="true" type="tns:VisitorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitorDTO" nillable="true" type="tns:ArrayOfVisitorDTO" />
  <xs:complexType name="VisitorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitorDTO" nillable="true" type="tns:VisitorDTO" />
</xs:schema>