EX.Client/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VisitorContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IVisitorContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://iterator.org" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EX.Model.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVisitorContract_GetAllVisitors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitors" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllVisitors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitorsResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetVisitorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitorById" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetVisitorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddOrUpdateVisitor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateVisitor" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddOrUpdateVisitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateVisitorResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveVisitor_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVisitor" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveVisitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVisitorResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveVisitorById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVisitorById" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveVisitorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVisitorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStatus" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStatus" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStatuses" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddUserInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserInRole" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddUserInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveUserInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserInRole" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveUserInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllUserInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserInRole" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllUserInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IVisitorContract">
    <wsdl:operation name="GetAllVisitors">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/GetAllVisitors" message="tns:IVisitorContract_GetAllVisitors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/GetAllVisitorsResponse" message="tns:IVisitorContract_GetAllVisitors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/GetVisitorById" message="tns:IVisitorContract_GetVisitorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/GetVisitorByIdResponse" message="tns:IVisitorContract_GetVisitorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateVisitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/AddOrUpdateVisitor" message="tns:IVisitorContract_AddOrUpdateVisitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/AddOrUpdateVisitorResponse" message="tns:IVisitorContract_AddOrUpdateVisitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveVisitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/RemoveVisitor" message="tns:IVisitorContract_RemoveVisitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/RemoveVisitorResponse" message="tns:IVisitorContract_RemoveVisitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveVisitorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/RemoveVisitorById" message="tns:IVisitorContract_RemoveVisitorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/RemoveVisitorByIdResponse" message="tns:IVisitorContract_RemoveVisitorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/AddStatus" message="tns:IVisitorContract_AddStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/AddStatusResponse" message="tns:IVisitorContract_AddStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/RemoveStatus" message="tns:IVisitorContract_RemoveStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/RemoveStatusResponse" message="tns:IVisitorContract_RemoveStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/GetAllStatuses" message="tns:IVisitorContract_GetAllStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/GetAllStatusesResponse" message="tns:IVisitorContract_GetAllStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/AddUserInRole" message="tns:IVisitorContract_AddUserInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/AddUserInRoleResponse" message="tns:IVisitorContract_AddUserInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/RemoveUserInRole" message="tns:IVisitorContract_RemoveUserInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/RemoveUserInRoleResponse" message="tns:IVisitorContract_RemoveUserInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/GetAllUserInRole" message="tns:IVisitorContract_GetAllUserInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/GetAllUserInRoleResponse" message="tns:IVisitorContract_GetAllUserInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/AddUser" message="tns:IVisitorContract_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/AddUserResponse" message="tns:IVisitorContract_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/RemoveUser" message="tns:IVisitorContract_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/RemoveUserResponse" message="tns:IVisitorContract_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/GetAllUsers" message="tns:IVisitorContract_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/GetAllUsersResponse" message="tns:IVisitorContract_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IVisitorContract" type="tns:IVisitorContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IVisitorContract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllVisitors">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/GetAllVisitors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisitorById">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/GetVisitorById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateVisitor">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/AddOrUpdateVisitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVisitor">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/RemoveVisitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVisitorById">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/RemoveVisitorById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatus">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/AddStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStatus">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/RemoveStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/GetAllStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserInRole">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/AddUserInRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserInRole">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/RemoveUserInRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInRole">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/GetAllUserInRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/RemoveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VisitorContract">
    <wsdl:port name="NetTcpBinding_IVisitorContract" binding="tns:NetTcpBinding_IVisitorContract">
      <soap12:address location="net.tcp://192.168.0.26/Visitor" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.26/Visitor</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>